<!DOCTYPE html>
<html>
<head>
  <title>Agile</title>

  <body ng-app="myapp">

  <!-- The navigation bar for boostrap -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
        <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
        </button>
        <button type="botton" class="navbar-toggle collapsed" data-toggle="collapse">
              <span class="icon-pencil"></span>
        </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Page 1</a></li>
          <li><a href="#">Page 2</a></li> 
          <li><a href="#">Page 3</a></li> 
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
          <li><a href = "#"><%= current_user.email %></a></li>
          <li>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          </li>
          <li>
            <%= link_to('Profile', profile_path(current_profile)) %>
          </li>
          <% else %>
          <li>
            <%= link_to('Login', new_user_session_path)  %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>


  <div>
    <!-- Added during devise setup -->
    <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <!-- End of Added during devise setup -->

    <div id="wrapper" ng-controller="HomeController" >
      <%= yield %>
    </div>
  <%= stylesheet_link_tag    'todo_dashboard', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'todo_dashboard', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  </body>
</html>
